*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Arial;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .words-container {
        .word {}
    }

    .error-msg {
        height: 20px;
        font-size: large;
        font-weight: bolder;
    }
    .good {
        color: rgb(153, 206, 73);
    }

    .bad {
        color: rgb(207, 27, 141);
    }

    .keyboard {}
}

hr {
    width: 700px;
}