<div data-guess-grid class="main-container">
    <h1>{{title}}</h1>
    <div class="error-msg" [ngClass]="gameState===1?'good':'bad'">{{[[errorMsg]]}}</div>
    <hr>
    <br>
    <div class="words-container" *ngFor="let index of [].constructor(totalWords)">
        <app-word #word class="word" (errorInput)="errorInputWord($event)" (validInput)="validInputWord($event)">
        </app-word>
    </div>
    <hr>
    <app-keyboard class="keyboard" [referenceLetters]="referenceLetters" (keyPress)="keyPress($event)"></app-keyboard>
</div>