*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Arial;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .words-container {
        .word {}
    }

    .error-msg {}
}

hr {
    width: 500px;
}