.main {
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-family: Arial;
    font-weight: 600;
    color: rgb(58, 69, 69);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border-color: slategrey;
    border-width: 1px;
    border-style: solid;
}

.white {
    background-color: white;
}

.green {
    background-color: rgb(175, 226, 100);
}

.yellow {
    background-color: rgb(238, 236, 107);
}

.grey {
    background-color: rgb(212, 212, 212);
}