.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(20px, 20px));
  grid-auto-rows: 40px;
  gap: 5px;
  justify-content: center;

  .key {
    width: 20px;
    height: 20px;
    font-size: 20px;
    padding: 2px;
    grid-column: span 2;
  }

  .large {
    width: 50px;
    grid-column: span 3;
  }
}