.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(0.5em, 1em));
  grid-auto-rows: 3em;
  gap: 1em;
  justify-content: center;

  .key {
    padding: 5px;
    grid-column: span 2;
    background-color: pink;
  }

  .large {
    width: 90PX;
    background-color: aqua;
    grid-column: span 3;
  }
}